* {
  box-sizing: border-box; }

body {
  background: rgba(32, 178, 170, 0.3);
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

.container {
  background: white;
  margin: 0 auto;
  margin-top: 30px;
  padding: 1em;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 1em; }

h1,
h2 {
  padding: 5px 0px 10px 0px;
  margin: 0;
  font-weight: normal; }

h1 {
  text-transform: uppercase; }

.asterisk {
  color: red; }

.greytext {
  color: grey; }

input,
select {
  height: 20px;
  border: 1px solid lightgrey; }
  input:not(.consent),
  select:not(.consent) {
    width: 100%; }
  input:focus,
  select:focus {
    border: 1px solid grey; }
  input:valid:focus,
  select:valid:focus {
    border: 1px solid green; }
  input:invalid:focus,
  select:invalid:focus {
    border: 1px solid red; }

textarea {
  width: 100%;
  border: 1px solid lightgrey;
  resize: none; }
  textarea:focus {
    border: 1px solid grey; }

table {
  width: 100%; }

.row {
  height: 25px; }

.column-label {
  width: 160px; }

.column-input-left {
  width: 160px; }
  .column-input-left > input {
    width: 100%; }

.column-input-right > input {
  width: 100%; }

.column-consent {
  display: inline; }
  .column-consent > input,
  .column-consent label {
    margin: 0px;
    height: 20px;
    vertical-align: middle; }

.column-input:has(.column-consent) {
  padding-left: 0px; }
