* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 600px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  font-size: 15px;
}

h1 {
  text-transform: uppercase;
}

h1,
h2 {
  padding: 5px 0px 10px 0px;
  margin: 0;
}

.asterisk {
  color: red;
}

.greytext {
  color: grey;
}

button {
  background: grey;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

table {
  width: 100%;
}

.column-label {
  width: 200px;
}

.column-input input:not(.consent),
select,
textarea {
  width: 100%;
}

.column-input-left {
  width: 150px;
}

.column-input-left input {
  width: 100%;
}

.column-input-right input {
  width: 100%;
}
